header {
  text-align: center;
  background-color: gray; }

body  {
  background-color: #FCFBE3;
  background-repeat: no-repeat;
  background-size: 125%;
  background-position: center;
}
.main-container {
  width: 100%;
  height: 500px;
  border: 1px solid black; }
  .main-container .knightsvsninjas {
    background-image: url("dojo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 87%;
    float: right;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: black; }
  .main-container .knights {
    display: inline-block;
    width: 49%;
    height: 100%;
   }

.score {
  text-align: center;
  background-color: yellow;
  width: 100%; }

  .knight{
  width: 45%;
  }
  .ninja{
    width: 23%;
padding-bottom: 11%;
  }
.hidden {
  display: none;
}



.introScreen {
  background-image: url("knightsvsninjas.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 101%;
  border: 2px solid black;
  width: 67%;
  height: 500px;
  margin-left: 15%;
}

.buttonContainer {
  border: 2px solid black;
  width: 67%;
  /*height: 500px;*/
  margin-left: 15%;
  margin-top: 16px;
  height: 200px;
}


@-webkit-keyframes{}
