header {
  text-align: center;
  background-color: gray; }

.main-container {
  width: 100%;
  height: 500px;
  border: 1px solid black; }
  .main-container .buttonContainer {
    border: 1px solid black; }
  .main-container .knightsvsninjas {
    background-image: url("images/dojo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 87%;
    float: right;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: black; }
    .main-container .knightsvsninjas .ninjas {
      float: right;
      display: inline-block;
      width: 49%;
      height: 100%;
      background-color: red; }
    .main-container .knightsvsninjas .knights {
      display: inline-block;
      width: 49%;
      height: 100%;
      background-color: blue; }

.score {
  text-align: center;
  background-color: yellow;
  width: 100%; }

#stats {
  background-color: red;
  width: 20%;
  display: inline-block; }

#stats li {
  text-align: center;
  border: 1px solid #000;
  list-style-type: none;
  width: 100%;
  background-color: gold; }
